.cache/
.DS_Store
.md.backup
.vscode/
*.backup
*.test
*.test.dSYM/
*.tgz
bin/emon32*
build/
cm-test-sine.csv
compile_commands.json
emon32_build_info.c
EmonLibDB/
hb*.png
venv/
scripts/*.h
avrdb_firmware/
RFM69.cpp
debug/
